header{
    padding: 0px 30px;

}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand h3{
    margin-left: 10px;
}

header ul{
    position: relative;
    left: 70px;
}

li a{
    color: black;
    font-size: 18px;
}

.cart-icon{
    position: relative;
    left: 130px;
}

.entry{
    position: relative;
    left : 350px
}

