@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.successfull{
    width: 100%;
    height: 400px;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    color: white;
}

button{
    margin-top: 20px;
}