<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img class="landing-image" src="https://assets.materialup.com/uploads/ab430de5-dd12-40cf-ac54-c7348f2728b0/preview.jpg">
        </div>
        <div class="col-lg-6 intro" style="text-align : center">
            <h3>Welcome to our Kitchen!</h3>
            <br>
            <p align="justify">
                Welcome to our food delivery application, where delicious meals are just a tap away! Whether you're in the mood for a quick snack, a hearty lunch, or a romantic dinner for two, we've got you covered. With our easy-to-use app, you can browse a wide selection of cuisines from your favorite local restaurants, cafes, and eateries, and have your meal delivered straight to your doorstep. Our platform is designed to provide you with a seamless experience, from placing your order to tracking its progress in real-time. So why wait? Download our app today and start enjoying the convenience and flavor of food delivered right to your door!
                Our food delivery app is your go-to solution for satisfying your hunger cravings in the comfort of your own home, office or wherever you are. With a simple and intuitive user interface, you can easily browse menus, choose from a wide range of dishes and customize your order to suit your preferences      
            </p>
        </div>
    </div>

</div>
